html, body{ 
  font: 14px sans-serif; 
  min-height: 60%;
  position: relative;
  background-color: #5ab050;
  overflow-x: hidden;
}
* {
  border: 0;
  outline: 0;
  box-shadow: none;
  box-shadow: none;
  -webkit-box-shadow: none;

  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;

     -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;

  


}
.container {
  width: 100%;
  max-width: 640px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  z-index: 12;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #FFF;
  display: flex;
  overflow-x: hidden;
}

footer {
    position: relative;
    z-index: 13;
    bottom: 10px;
    left: 0;
    padding: 0;
    max-width: 640px;
    width: 100%;
    margin: auto;
    color: #FFF;
    background: #238427;
    font-size: 14px;
    text-align: right;
}
footer a {
  color: #FFF;
}

.footer-content {
  padding: 5px 10px;
}
input {
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    outline: 0;
    border: 1px solid #448429;
    max-width: 280px;
    min-width: 240px;
    font-weight: 600;
    font-size: 18px;
    color: #448429;
}

.btn {
    padding: 10px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: 0;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
form {
    display: table;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.help-block {
	margin-bottom: 10px;
	display: block;
  color: #000;
}
h2 {
	font-weight: normal;
}

.form-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #448429;
    font-size: 24px;
    font-weight: bold;
    color: #448429;
}
.username {
	text-transform: capitalize;
	font-size: 30px;
	color: #000;
}

.container div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container div li {
  margin-bottom: 10px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content a, .content a:focus, .content a:visited {
  color: #3F51B5;
}
.content div {
  width: 100%;
}
.logout {
  text-align: right;
  font-weight: bold;
}